* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

a {
  color: currentColor;
  text-decoration: none;
}

a,
input,
label,
button {
  cursor: pointer;
  -webkit-appearance: none;
}

section.page-seminovos.wrapper-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

section.page-seminovos.wrapper-content .box-filters {
  width: 325px;
  height: 100%;
  background-color: #fff;
  padding: 25px;
  position: fixed;
  left: 0;
  transition: left 0.5s;
  overflow-y: auto;
}

section.page-seminovos.wrapper-content .box-filters .filter-list-scroll {
  width: 100%;
  height: 100%;
}

section.page-seminovos.wrapper-content .box-filters.close-filter {
  left: -325px;
  transition: left 0.5s;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  padding: 25px 0;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper:last-child {
  border-bottom: 0;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .filter-title {
  color: #353d40;
  text-align: left;
  margin-bottom: 15px;
  font-weight: bold;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand {
  width: 45%;
  position: relative;
  margin: 5px 0;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand-brand {
  width: 30%;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item input.field-input-brand, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand input.field-input-brand {
  display: none;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item input.field-input-text, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand input.field-input-text {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 2px solid #e1e1e1;
  border-radius: 8px;
  color: #8e99a4;
  position: relative;
  background-color: #fff;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item input.field-input-text:focus, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item input.field-input-text.active, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand input.field-input-text:focus, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand input.field-input-text.active {
  border-color: #3bbab0;
  color: #353d40;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item input.field-input-text:focus ~ .field-label-text, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item input.field-input-text.active ~ .field-label-text, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand input.field-input-text:focus ~ .field-label-text, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand input.field-input-text.active ~ .field-label-text {
  transform: translate(1px, 6px) scale(0.8);
  color: #3bbab0;
  top: -10px;
  font-weight: bold;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item input.field-input-checkbox, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand input.field-input-checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  pointer-events: none;
  color: #353d40;
  background: #3bbab0;
  -webkit-appearance: none;
  border: 0;
  border-radius: 4px;
  margin-right: 5px;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item input.field-input-checkbox:not(:checked), section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand input.field-input-checkbox:not(:checked) {
  background: transparent;
  border: 2px solid #e1e1e1;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item input.field-input-checkbox:not(:checked):before, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand input.field-input-checkbox:not(:checked):before {
  background-position: center 18px;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item input.field-input-checkbox:before, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand input.field-input-checkbox:before {
  display: inline-block;
  content: "";
  cursor: pointer;
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 4px;
  background-image: url("../images/check-white.svg");
  background-position: center;
  background-repeat: no-repeat;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item label.field-label-brand, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand label.field-label-brand {
  width: 80px;
  height: 85px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 9px 0 rgba(158, 184, 209, 0.41);
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item label.field-label-brand:hover, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item label.field-label-brand.active, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand label.field-label-brand:hover, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand label.field-label-brand.active {
  box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.4);
  transition: all .25s ease;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item label.field-label-brand picture, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand label.field-label-brand picture {
  width: 100%;
  height: 100%;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item label.field-label-brand picture img, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand label.field-label-brand picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item label.field-label-brand small.brand-name, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand label.field-label-brand small.brand-name {
  color: #8e99a4;
  text-transform: capitalize;
  position: absolute;
  bottom: 3px;
  font-size: 10px;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item label.field-label-text, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand label.field-label-text {
  color: #8e99a4;
  position: absolute;
  top: -15px;
  left: 15px;
  background-color: #fff;
  color: #8e99a4;
  padding: 0 3px;
  transform: translateY(26px);
  white-space: nowrap;
  transform-origin: 0 0;
  transition: all .25s ease;
  pointer-events: none;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item label.field-label-checkbox, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand label.field-label-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #8e99a4;
}

section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item small.field-example, section.page-seminovos.wrapper-content .box-filters .filter-wrapper .field-group .field-item-brand small.field-example {
  width: 100%;
  display: block;
  color: #8e99a4;
  margin-top: 4px;
}

section.page-seminovos.wrapper-content .box-products {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  padding-left: 325px;
  transition: padding-left 0.5s;
}

section.page-seminovos.wrapper-content .box-products.close-filter {
  padding-left: 0;
  transition: padding-left 0.5s;
}

section.page-seminovos.wrapper-content .box-products .nav-filter-top {
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  padding: 10px;
}

section.page-seminovos.wrapper-content .box-products .nav-filter-top .box-action-left {
  margin-right: 15px;
}

section.page-seminovos.wrapper-content .box-products .nav-filter-top .box-action-left button {
  background-color: #fff;
  border: 0;
}

section.page-seminovos.wrapper-content .box-products .nav-filter-top .box-action-left button.toggle-filter:before {
  content: "";
  width: 20px;
  height: 20px;
  display: flex;
  background-size: contain;
  background-image: url("../images/toggle-filter.svg");
}

section.page-seminovos.wrapper-content .box-products .nav-filter-top .filter-selected-list {
  width: 100%;
}

section.page-seminovos.wrapper-content .box-products .nav-filter-top .filter-selected-list ul {
  display: flex;
  justify-content: flex-start;
  padding: 0 15px;
  margin: 0;
}

section.page-seminovos.wrapper-content .box-products .nav-filter-top .filter-selected-list ul li {
  list-style: none;
  padding: 0 10px;
  margin: 0 5px;
  border: solid 1px #353d40;
  border-radius: 8px;
}

section.page-seminovos.wrapper-content .box-products .product-wrapper {
  width: 100%;
  padding: 100px 50px 50px 50px;
  background-color: #f1f1f1;
}

section.page-seminovos.wrapper-content .box-products .products-list {
  width: fit-content;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block {
  width: 250px;
  height: auto;
  border-radius: 5px;
  margin: 5px;
  background-color: #ffff;
  box-shadow: 0 2px 9px 0 rgba(158, 184, 209, 0.41);
  transition: all .25s ease;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block:hover {
  box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.4);
  transition: all .25s ease;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images {
  height: 200px;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images .swiper-container,
section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images .swiper-container .product-flag,
section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images picture .product-flag {
  width: 100px;
  height: auto;
  position: absolute;
  z-index: 100;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images .swiper-container img,
section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images picture img {
  width: 100%;
  height: 100%;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images .swiper-container .swiper-pagination-bullet,
section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images picture .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images .swiper-container .swiper-button-prev,
section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images picture .swiper-button-prev {
  left: 0;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images .swiper-container .swiper-button-prev:after,
section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images picture .swiper-button-prev:after {
  font-size: 20px;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images .swiper-container .swiper-button-next,
section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images picture .swiper-button-next {
  right: 0;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images .swiper-container .swiper-button-next:after,
section.page-seminovos.wrapper-content .box-products .products-list article.product-block figure.product-images picture .swiper-button-next:after {
  font-size: 20px;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figcaption.product-details {
  width: 100%;
  height: auto;
  padding: 20px 15px;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figcaption.product-details .product-primary-infos {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #353d40;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figcaption.product-details .product-primary-infos h1 {
  margin-bottom: 5px;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figcaption.product-details .product-primary-infos p {
  font-size: 11px;
  font-weight: 400;
  color: #8e99a4;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figcaption.product-details .product-price {
  font-size: 22px;
  font-weight: 600;
  color: #3bbab0;
  white-space: nowrap;
  margin: 25px 0;
}

section.page-seminovos.wrapper-content .box-products .products-list article.product-block figcaption.product-details .product-secondary-infos {
  color: #8e99a4;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
